<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>


<!-- <%= form_with scope: :article, local: true do |form| %>
  <p>
    <%= form.label :image %><br>
    <%= form.text_field :image %>
  </p>

  <p>
    <%= form.label :text %><br>
    <%= form.text_area :text %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %> -->
